#
# This source file is part of the Stanford Spezi open source project
#
# SPDX-FileCopyrightText: 2022 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  buildandtest:
    name: Build and Test Swift Package
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    strategy:
      matrix:
        include:
          - buildConfig: Debug
            artifactname: SpeziLLM-Package.xcresult
          - buildConfig: Release
            artifactname: SpeziLLM-Package-Release.xcresult
    with:
      artifactname: ${{ matrix.artifactname }}
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: SpeziLLM-Package
      buildConfig: ${{ matrix.buildConfig }}
  buildandtestuitests:
    name: Build and Test UI Tests
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@feat/add-build-config-parameter
    strategy:
      matrix:
        include:
          - buildConfig: Debug
            artifactname: TestApp.xcresult
          - buildConfig: Release
            artifactname: TestAppResult.xcresult
    with:
      artifactname: ${{ matrix.artifactname }}
      runsonlabels: '["macOS", "self-hosted"]'
      path: 'Tests/UITests'
      scheme: TestApp
      buildConfig: ${{ matrix.buildConfig }}
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [buildandtest, buildandtestuitests]
    uses: StanfordSpezi/.github/.github/workflows/create-and-upload-coverage-report.yml@v2
    with:
      coveragereports: SpeziLLM-Package.xcresult TestApp.xcresult
